li.uk-active: a(href="index.html") Домашняя
li.uk-parent: a(href="catalog.html") Каталог
  ul.uk-nav-sub
    li.uk-active: a(href="catalog.html") Мангалы
    li: a(href="catalog.html") Item sub Nav 
li: a(href="gallery.html") Галлерея
