footer.s-footer.uk-section.uk-section-secondary
  div.uk-container
    div(class="" uk-grid="")

      div.s-footer-contact-box(class="uk-width-1-1 uk-width-1-3@m uk-child-width-auto" uk-grid="")
        div
          span(uk-icon="icon: phone")
          p.s-footer-contact-label
            |  Телефон:
        div.s-footer-contact-item(class="uk-width-expand")
          p
            | +7 (926) 000-00-00

      div.s-footer-contact-box(class="uk-width-1-1 uk-width-1-3@m uk-child-width-auto" uk-grid="")

        div
          span(uk-icon="icon: mail")
          p.s-footer-contact-label
            | E-Mail:
        div.s-footer-contact-item(class="uk-width-expand")
          p
            | ivan160881@mail.ru

      div.s-footer-contact-box(class="uk-width-1-1 uk-width-1-3@m uk-child-width-auto" uk-grid="")

        div
          span(uk-icon="icon: location")
          p.s-footer-contact-label  Адрес:

        div.s-footer-contact-item(class="uk-width-expand")
          p
            | Московская обл. г.Балашиха, ул.Пехра-Покровская, д.8А

    div.uk-divider-icon(class="")
    div.s-menu-footer(class="")
      div.s-menu-footer-continer.uk-flex-center(class="uk-child-width-auto" uk-grid="")
        a(href="") item menu
        a(href="") item menu
        a(href="") item menu
        a(href="") item menu
        a(href="") item menu
        a(href="") item menu
