div.s-section-product.uk-section.uk-section-default
  div.uk-container
    h3.s-section-title Наша продукция
    div.uk-flex-center(class="uk-child-width-1-3@l uk-child-width-1-2@s" uk-grid="")
      div.s-card
        div.uk-card.uk-card-small.uk-border-rounded
          div.uk-card-header
            div.uk-card-title Мангалы
          div.uk-card-media-top.uk-inline.uk-dark.uk-transition-toggle
            a(href="")
              img(src="img/light.jpg")
              div.uk-transition-fade
                div.uk-overlay-default.uk-position-cover
                div.uk-position-center
                  span(uk-overlay-icon="")
      div.s-card
        div.uk-card.uk-card-small.uk-border-rounded
          div.uk-card-header
            div.uk-card-title Мангалы
          div.uk-card-media-top.uk-inline.uk-dark.uk-transition-toggle
            a(href="")
              img(src="img/light.jpg")
              div.uk-transition-fade
                div.uk-overlay-default.uk-position-cover
                div.uk-position-center
                  span(uk-overlay-icon="")
      div.s-card
        div.uk-card.uk-card-small.uk-border-rounded
          div.uk-card-header
            div.uk-card-title Мангалы
          div.uk-card-media-top.uk-inline.uk-dark.uk-transition-toggle
            a(href="")
              img(src="img/light.jpg")
              div.uk-transition-fade
                div.uk-overlay-default.uk-position-cover
                div.uk-position-center
                  span(uk-overlay-icon="")
