.header-home {
    height: 500px;

    .phone {
        .phone-namber {
            color: #fff;
        }
    }

    .uk-navbar-nav li a {
        text-transform: uppercase;
    }
}

.hook-navbar() {
    .uk-button-text::before {
        color        : @navbar-nav-item-hover-color;
        border-bottom: 1px solid @navbar-nav-item-hover-color;
    }

    .uk-navbar-toggle {
        color: @navbar-nav-item-color;
    }
}

.hook-navbar-container() {
    background: transparent;
}

.promo-home {
    .promo-home-desc {
        .uk-text-large;
        .uk-text-warning;
    }
}
