// Mixin Braeckpoints
// ===========================================================

.bp-s(@rules){
  @media (min-width: @breakpoint-small){@rules();}
}
.bp-m(@rules){
  @media (min-width: @breakpoint-medium){@rules();}
}
.bp-l(@rules){
  @media (min-width: @breakpoint-large){@rules();}
}
.bp-x(@rules){
  @media (min-width: @breakpoint-xlarge){@rules();}
}


.svg-before(@icon, @size) {
    .uk-icon;

    &:before {
        content            : '';
        .svg-fill( '../images/icons/@{icon}.svg',  "#000", @navbar-nav-item-hover-color);
        width              : @size;
        height             : @size;
        background-repeat  : no-repeat;
        background-position: 50% 50%;
        float              : left;
    }
};


// Mixin Font-face
// ===================================================================================
.font(@fontName; @urlName: @fontName; @weight: normal; @style: normal) {
  font-family: '@{fontName}';
  src: url('/fonts/@{urlName}/@{urlName}.eot');
  src: url('/fonts/@{urlName}/@{urlName}.eot#iefix') format('embedded-opentype'),
  url('/fonts/@{urlName}/@{urlName}.woff') format('woff'),
    url('/fonts/@{urlName}/@{urlName}.ttf') format('truetype'),
    url('/fonts/@{urlName}/@{urlName}.svg') format('svg');
    font-weight: @weight;
    font-style: @style;
}
