extends ../_layout/_catalog.pug


append varPage
  - var pageTitle = 'Мангалы'
  - var pageDesc = 'Мангалы для дома'


block contentCatalog
  .uk-card.uk-card-default(uk-grid='')
    .uk-width-1-3.uk-card-media-left.uk-cover-container
      img(src='/img/img-test.jpg' uk-cover='')
    .uk-width-2-3.uk-card-body
      h3.uk-card-title Заголовок
      p oooooooooooooooooooooo oooooooooo oo oooooooooooooo
