extends ../_layout/_default.pug


append varPage
  - var pageTitle = 'Мангалы'
  - var pageDesc = 'Домашняя страница'
  - var pageClass = '-catalog'


block content
  .uk-container
    p Страница Каталога - Мангалы
