

mixin filter-gallery()
  .uk-container
    .uk-button-group.ms-filter-gallery
      each item in global.menuGallery
        a.uk-button.uk-button-primary(class={'uk-active': alias === item.alias} href='/' + item.url)= item.title

mixin header-promo(text)
  a.s-header-promo-item(href="")
    span(uk-icon="icon: bookmark; ratio: 1.2") 
    div.s-promo-desc= text






mixin lorem()
  p.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco
    laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit
    esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident,
    sunt in culpa qui officia deserunt mollit anim id est laborum.


mixin nav-button(prev, next)
  .uk-float-left.uk-text-warning.uk-transition-toggle
    a(href='#project-' + prev class=" uk-text-warning nav-left" uk-icon="icon:arrow-left; ratio:1.4")

  .uk-float-right.uk-text-warning
    a(href="#project-" + next class="uk-text-warning nav-right" uk-icon="icon:arrow-right; ratio:1.4")
