include ../_mixins/_mixin.pug

block varPage
  - var pageTitle = global.page.title
  - var pageDesc = global.page.description
  - var pageClass = '-default'


doctype html
html
  head
    include ../_includes/_head.pug

  body(class='s-page' + pageClass)
    .uk-offcanvas-content
      include ../_includes/_navbar-nav.pug

      div.s-header.uk-section.uk-section-primary
        div.uk-container
          h1.s-header-title
            | Каталог
            if pageTitle
              span= " / " + pageTitle
      section.s-catalog.uk-section.uk-section-default
        div.uk-container
          div.uk-grid-divider(uk-grid="")
            div.s-catalog-content(class="uk-width-4-5@l uk-width-3-4@m uk-width-2-3@s")
              block content

            div.s-sidedar(class="uk-width-1-5@l uk-width-1-4@m uk-width-1-3@s uk-visible@s")
              ul.uk-nav.uk-nav-default
                li.uk-nav-header Каталог
                li.uk-nav-divider
                li.uk-active: a(href="#") Nav link test active
                li: a(href="#") Nav link test
                li: a(href="#") Nav link test
                li: a(href="#") Nav link testS
                li: a(href="#") Nav link test
                li: a(href="#") Nav link test
                li: a(href="#") Nav link test


      #menu(uk-offcanvas="flip: true; mode: reveal")
        div.s-offcanvas.uk-offcanvas-bar
          button(class="uk-offcanvas-close" type="button" uk-close="")
          ul.uk-nav.uk-nav-default
            include ../_includes/_nav-top.pug



    include ../_includes/_section-footer.pug
