include ../_mixins/_mixin.pug

block varPage
  - var pageTitle = global.page.title
  - var pageDesc = global.page.description
  - var pageClass = '-default'


doctype html
html
  head
    include ../_includes/_head.pug

  body(class='s-page' + pageClass)
    block content

    include ../_includes/_section-footer.pug
