.uk-section.section-home-map
  .uk-container-expand
    script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=sD2sMSNBBz0-22QYYnb2Y9aP0lbSn9IL&amp;width=100%25&amp;height=300&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true')
