// color custom
$accent-1                           : #0066cc;
$accent-2                           : #1b1b29;
$accent-3                           : #ff9933;
$accent-4                           : #cc3300;
$accent-5                           : #090991;
$accent-6                           : #4f5157;
$accent-7                           : #f4f4f4;
$accent-8                           : #87888c;
$accent-9                           : #2c2d30;

$default-font                       : "roboto-example", sans-serif;
$accent                             : orange;
$inverse-navbar-nav-item-hover-color: #fff;
$section-muted-background           : $accent-7;
$section-primary-background         : $accent-1;
$text-primary-color                 : $accent-1;
