@import "fonts";

// 1. Your custom variables and variable overwrites.
@import "vars";

// 2. Import default variables and available mixins.
@import "uikit-SCSS/variables-theme.scss";
//@import "uikit-SCSS/mixins-theme.scss";

// 3. Your custom mixin overwrites.
@import "_mixins/mixins";
// 4. Import UIkit.
@import "uikit-SCSS/uikit-theme.scss";
@import "libs";

*::-webkit-input-placeholder {
	color  : #666;
	opacity: 1;
}
*:-moz-placeholder {
	color  : #666;
	opacity: 1;
}
*::-moz-placeholder {
	color  : #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color  : #666;
	opacity: 1;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: #666;
}
body input:required:valid,
body textarea:required:valid {
	color: #666;
}
body,
html {
	height: 100%;
}
body {
	font-size  : 16px;
	min-width  : 320px;
	position   : relative;
	line-height: 1.75;
	font-family: $default-font;
	overflow-x : hidden;
	opacity    : 1;
}
.img-responsive {
	display  : block;
	max-width: 100%;
	height   : auto;
}
.text-white {
	color: #fff;
}
.ms-phone {
	color: #fff;
	.uk-icon {
		color: #fff;
	}
}
.ms-header-wrap {
	color: #fff;
	.ms-section-top-nav {

		.uk-navbar-nav {

			li.uk-active > a {
				position: relative;
				&::before {
					content            : '';
					display            : block;
					position           : absolute;
					left               : 15px;
					right              : 15px;
					bottom             : 20px;
					height             : 1px;
					background-color   : currentColor;
					transition         : 0.3s ease-in-out;
					transition-property: right;
				}
			}
			li > a {
				position: relative;
				color   : rgba(255,255,255,.8);
				&::before {
					content            : '';
					display            : block;
					position           : absolute;
					left               : 15px;
					right              : calc(102% - 15px);
					bottom             : 20px;
					height             : 1px;
					background-color   : currentColor;
					transition         : 0.3s ease-in-out;
					transition-property: right;
				}
				&:hover::before {
					right: 15px;
				}
			}
		}
	}

	.ms-section-header {
		padding-bottom: 40px;
		.ms-header-title {
			padding-top: 30px;
		}
		.ms-header-promo {
			margin-top: 10px;
			color     : #444;

		}
	}
}

.ms-section-title {
	text-transform: uppercase;
	font-weight   : 600;
	margin-bottom : 60px;
}

.ms-section-promo {
	.uk-transition-fade {
		opacity: 0.5;
	}
	.uk-position-center-left,
	.uk-position-center-left {
		left: -3%;
	}
	.uk-position-center-right {
		right: -3%;
	}
}

.ms-section-home-gallery {
	background: $accent-8;
	.grid-item {
		padding: 2px;
		img {
			border-radius: 5px;
			//border       : 1px solid #cbcbcd;
		}
		.uk-position-cover {
			border-radius: 5px;
		}
	}
}
.section-home-map {
	padding: 0;
}
.section-footer {
	background    : $accent-6;
	padding-top   : 40px;
	padding-bottom: 40px;
	&-bottom {
		background    : $accent-9;
		padding-top   : 10px;
		padding-bottom: 10px;
		.uk-navbar-footer > ul > li > a {
			text-transform: none;
			font-size     : 1rem;
			height        : 40px;
		}
		.uk-totop.uk-icon {
			width     : 35px;
			height    : 35px;
			background: $accent-8;
			color     : #fff;
		}
		.uk-icon > * {
			-webkit-transform: translate(50%, 100%);
			-ms-transform    : translate(50%, 100%);
			transform        : translate(50%, 100%);
		}
	}
}
// ======== ms-filter-gallery ================

.ms-filter-gallery {
	.uk-button:first-child {
		border-radius: 30px 0 0 30px;
	}
	.uk-button:last-child {
		border-radius: 0 30px 30px 0;
	}
}
@import "media"; // Всегда в конце
