extends _layouts/_default.pug


append varPage
  - var pageTitle = 'Главная'
  - var pageDesc = 'Домашняя страница'
  - var pageClass = '-home'


block content

  .uk-offcanvas-content

    include _includes/_section_top.pug
    include _includes/_section-product.pug
    include _includes/_section-gallery.pug



    #menu(uk-offcanvas="flip: true; mode: reveal")
      div.s-offcanvas.uk-offcanvas-bar
        button(class="uk-offcanvas-close" type="button" uk-close="")
        include _includes/_nav.pug
