include ../mixins/mixin.pug

block varPage
  - var pageTitle = 'Каталог продукции'
  - var pageDesc = 'Описание каталога'
  

doctype html
html.no-js(lang="ru")
  head
    include ../includes/head.pug
    
  body
    .page-catalog
      include ../component/headder.pug
      block content
      
      
    include ../includes/script.pug