header
  .header-home.uk-navbar-container(style='background-image: url(images/header-bg.jpg);')
    nav.uk-navbar-container
      .uk-container
        div('uk-navbar')
          .uk-navbar-left
            a.uk-navbar-item.uk-logo(href='index.html') Logo
          .uk-navbar-center
            .phone(class='uk-hidden@m')
              .phone-namber
                | +7(000) 000-00-00
            ul.uk-navbar-nav(class='uk-visible@m')
              li(class={'uk-active': pageTitle === 'Главная'})
                a.uk-button-text(href='index.html') Главная
              li(class={'uk-active': pageTitle === 'Каталог'})
                a.uk-button-text(href='catalog.html') Каталог
              li(class={'uk-active': pageTitle === 'Фотогалерея'})
                a.uk-button-text(href='gallery.html') Фотогалерея
              li(class={'uk-active': pageTitle === 'Контакты'})
                a.uk-button-text(href='contact.html') Контакты
          .uk-navbar-right
            .phone(class='uk-visible@m')
              .phone-namber
                | +7(000) 000-00-00
            a.uk-navbar-toggle(class='uk-hidden@m' href='#offcanvas' uk-navbar-toggle-icon='' uk-toggle='')
              span.uk-margin-small-right Меню

    .promo-wrap.uk-container
      .promo-home.uk-grid.uk-text-center
        div(class='uk-width-1-2@s')
          p.promo-home-desc ooooooooo
          p.promo-home-desc oooooooooooooooooooooo
          p.promo-home-desc oooooooooooooooooooooooooooooo
          p.promo-home-desc oooooooooooooooooooooo
        div(class='uk-width-1-2@s')
          p.promo-home-desc oooooooooooooooooooooooooooooo
          p.promo-home-desc ooooooooooooooooooooooooooo
          p.promo-home-desc oooooooooooooooooooooo
          p.promo-home-desc oooooooooooo



  #offcanvas(uk-offcanvas='flip: true; overlay: true')
    .uk-offcanvas-bar
      ul.uk-nav.uk-nav-default
        li(class={'uk-active': pageTitle === 'Главная'})
          a.uk-button-text(href='index.html') Главная
        li(class={'uk-active': pageTitle === 'Каталог'})
          a.uk-button-text(href='catalog.html') Каталог
        li(class={'uk-active': pageTitle === 'Фотогалерея'})
          a.uk-button-text(href='gallery.html') Фотогалерея
        li(class={'uk-active': pageTitle === 'Контакты'})
          a.uk-button-text(href='contact.html') Контакты
      button.uk-button.uk-button-default.uk-offcanvas-close.uk-width-1-1.uk-margin(type='button') Закрыть
