section.home-service
  .container
    .row
      h2.section-title Наша Продукция
      .wrap
        .service-item
          .service-item-img
            img(src='img/home/service-item-lestnica.jpg')
          .service-item-info
            h5.service-item-info-title Лестницы
            .service-item-info-desc.
              Изготовление мангалов по индивидуальным заказам, любой конфигурации.
              По Вашим чертежам, или на выбор из нашего каталога.
            a.readmore(href="#") Подробнее
        .service-item
          .service-item-img
            img(src='img/home/service-item-naves.jpg')
          .service-item-info
            h5.service-item-info-title Навесы
            .service-item-info-desc.
              Изготовление мангалов по индивидуальным заказам, любой конфигурации.
              По Вашим чертежам, или на выбор из нашего каталога.
            a.readmore(href="#") Подробнее
        .service-item
          .service-item-img
            img(src='img/home/service-item-mangal.jpg')
          .service-item-info
            h5.service-item-info-title Мангалы
            .service-item-info-desc.
              Изготовление мангалов по индивидуальным заказам, любой конфигурации.
              По Вашим чертежам, или на выбор из нашего каталога.
            a.readmore(href="#") Подробнее
        .service-item
          .service-item-img
            img(src='img/home/service-item-mangal.jpg')
          .service-item-info
            h5.service-item-info-title Мангалы
            .service-item-info-desc.
              Изготовление мангалов по индивидуальным заказам, любой конфигурации.
              По Вашим чертежам, или на выбор из нашего каталога.
            a.readmore(href="#") Подробнее
        .service-item
          .service-item-img
            img(src='img/home/service-item-mangal.jpg')
          .service-item-info
            h5.service-item-info-title Мангалы
            .service-item-info-desc.
              Изготовление мангалов по индивидуальным заказам, любой конфигурации.
              По Вашим чертежам, или на выбор из нашего каталога.
            a.readmore(href="#") Подробнее
