section.home-gallery
  .container
    .row
      h2.section-title Наши Работы
    .row
      .gallery-item
        a(href="https://dummyimage.com/1200x900/36c/fff.jpg")
          img(src="https://dummyimage.com/400x300/36c/fff.jpg")
      .gallery-item
        a(href="https://dummyimage.com/1200x900/c36/fff.jpg")
          img(src="https://dummyimage.com/400x300/c36/fff.jpg")
      .gallery-item
        a(href="https://dummyimage.com/1200x900/46c/fff.jpg")
          img(src="https://dummyimage.com/400x300/46c/fff.jpg")
      .gallery-item
        a(href="https://dummyimage.com/1200x900/36c/fff.jpg")
          img(src="https://dummyimage.com/400x300/36c/fff.jpg")
      .gallery-item
        a(href="https://dummyimage.com/1200x900/c36/fff.jpg")
          img(src="https://dummyimage.com/400x300/c36/fff.jpg")
      .gallery-item
        a(href="https://dummyimage.com/1200x900/46c/fff.jpg")
          img(src="https://dummyimage.com/400x300/46c/fff.jpg")
      .gallery-item
        a(href="https://dummyimage.com/1200x900/36c/fff.jpg")
          img(src="https://dummyimage.com/400x300/36c/fff.jpg")
      .gallery-item
        a(href="https://dummyimage.com/1200x900/c36/fff.jpg")
          img(src="https://dummyimage.com/400x300/c36/fff.jpg")
      .gallery-item
        a(href="https://dummyimage.com/1200x900/46c/fff.jpg")
          img(src="https://dummyimage.com/400x300/46c/fff.jpg")
